/*********************************/
/**************Base***************/
/*********************************/
body {
    font-family: 'Noto Serif', serif;
    background-color: #fff;
    /*background-color: #000;*/
    
    margin: 0;
}

footer {
    height: 5vh;
}

h2 {
    text-decoration: underline;
}

header {
    height: 15vh;
    position: relative;
    
    background-color: white;
}

header > img {
    height: 15vh;
    width: 40vw;
    max-width: 600px;
}

header > button {
    height: calc(15vh / 2);
    width: 15vw;
}

textarea {
    resize: none;
}