/*STILL NEED TO FIX SPACING ON SIDEBAR ELEMENTS? (overflow occurs at windowwidth 126px)*/

/********************************/
/********Layouts*****************/
/********************************/

/*
Layouts:
    simply add the "sideLayout" or "downLayout" classes
    to the "content" classlist to change between the two layouts
    
    add first and second to "mainWrapper" and "sidebar" respectively
    and visa-versa
*/

.second {
    order: 2;
}
.first {
    order: 1;
}
/*************************************/
.explanation{
    min-height: 88px;
    min-height: calc(1.375em * 4);
}
/*************************************/
.content {
    height: 100%;
    height: 80vh;
    
    display: flex;
    align-items: stretch;
    align-content: stretch;
}
.content.sideLayout {
	flex-direction: row;
}
.content.downLayout {
	flex-direction: column;
}
/*************************************/
.sidebar{
	text-align: center;
	/*overflow: hidden;*/
	/*white-space: pre-wrap;*/
}
.sidebar ul {
    list-style-type: none;
    padding: 10px;
}
.sidebar li {
    padding: 8px 14px;
    margin: 4px;
    
    border-style: solid;
    border-width: 2px;
    border-color: #FFDF9A;
}
.sideLayout .sidebar{
	flex: 3 3 20vw;
	
	overflow-y: scroll;
	overflow-x: hidden;
}
.sideLayout .sidebar ul {
    padding: 0;
}
.sideLayout .sidebar li {
    display: block;
}
.downLayout .sidebar{
	flex: 3 3 20vh;
	
	
	/*overflow-y: hidden;*/
	/*overflow-x: scroll;*/
	/*white-space: nowrap;*/
}
.downLayout .sidebar ul {
	/*-webkit-margin-before: 0;*/
 /*   -webkit-margin-after: 0;*/
	height: 100%;
	
	margin: 0;
    padding-top: 10px;
	padding-bottom: 20px;
    
    overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}
.downLayout .sidebar li {
    display: inline;
    overflow-y: hidden;
    overflow-x: scroll;
}
/*************************************/
.mainWrapper{
	position: relative;
}
.sideLayout .mainWrapper{
	flex: 4 1 80vw;
}
.downLayout .mainWrapper{
	flex: 4 1 80vh;
}


.poster {
    /*temp dimensions*/
    height: 100px;
    width: 50%;
    
    position: absolute;
    top: 0%;
    left: 25%;
    border-right-style: solid;
    border-left-style: solid;
}


.posts {
    height: calc(100% - 100px);
    width: 100%;
    
    position: absolute;
    top: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    
    /*text-overflow: hidden;*/
    /*overflow: hidden;*/
    /*flex-wrap: wrap;*/
}

.post {
    flex: 1 1 100%;
    
    margin: 10px;
    border-style: solid;
     
    overflow: hidden
}

.postTitle {
    /*make height for line-height relative to font?*/
    height: 1.375em;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 200%;
}

.postContent {
    /*height: 125px;*/
    max-height: calc(2 * 1.375em);
    /*line-height: 1.375em;*/
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
}
.sideLayout .postContent{
    max-width: 70vw; /* 70vw */
}
.downLayout .postContent{
    max-width: 90vw; /* 90vw */
}

.date{
    height: 1.375em;
}

/******************************/
.explanation p{
    margin: 0px;
    padding-left: 20px;
}