/*******************************/
/************SHAME**************/
/*******************************/
* {
    transition: all cubic-bezier(0.4, 0.29, 0.31, 1) .5s;
}

/******************************************************/


/*need to move/abstract things out of layout section*/
/********what needs to be in here?*******/
/********where does everything else go?*******/
.sidebar ul {
    list-style-type: none;
    padding: 10px;
}
.sidebar li {
    padding: 8px 14px;
    margin: 4px;
    
    border-style: solid;
    border-width: 2px;
    border-color: #FFDF9A;
}
.sidebar li:hover {
    box-shadow: 3px 2px 3px;
    
    background-color: #66ccff;
}

.sidebar li a{
    /*color: black;*/
    text-decoration: none;
}
/*end move*/



header{
    position: relative;
}
#swap_theme {
    /* background-color: #97F9A3; */
    font-family: 'Noto Serif', serif;
    font-weight: bold;

    position: absolute;
    top: 0;
    /*top: 20px;*/
    right: 0;
    /*right: 20px;*/
    /*width: 15%;*/
}
#swap_layout {
    /* background-color: #97F9A3; */
    font-family: 'Noto Serif', serif;
    font-weight: bold;

    position: absolute;
    top: 50%;
    /*top: 8vh;*/
    /*top: 20px;*/
    right: 0px;
    /*left: 20px;*/
    /*width: 15%;*/
}

#ppost {
    /*padding-left: 20px;*/
    text-decoration: underline;
}

.explanation {
    padding-left: 20px;
}

.postTitle {
    text-decoration: underline;
}

/*******************************/
/************EXTRAS*************/
/*******************************/
.hidden {
  display: none;
}

/***********POPOUT*************/
/*For posts clicked on the sidebar*/
/*for use with HTML template*/
#poppedContainer{
    height: 100vh;
    width: calc(100vw - 21px);
    /*why 21px (as opposed to 20px)...idk, but that's the best <- lol*/
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
#emptyDiv {
    height: 100%;
    width: 100%;
}

.popOut {
    display: block;
    position: fixed; 
    width: 80vw; 
    height: 80vh;
    top: 5%;
    left: calc(10vw - 20px);
    
    background: #fefefe; 
    border: 2px solid #474747; 
    box-shadow: 0px 0px 10px;
    /*z-index: 50;*/
}

.popOut h1 {
    text-decoration: underline;
    background-color: #cccccc;
}

.popOut .postContent{
    max-height: 100%;
}

.blurFilter {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    
    pointer-events: none;
}