/*******************************/
/************SHAME**************/
/*******************************/
* {
    transition: all cubic-bezier(0.4, 0.29, 0.31, 1) .5s;
}

/******************************************************/


/*need to move/abstract things out of layout section*/
/********what needs to be in here?*******/
/********where does everything else go?*******/
.sidebar ul {
    list-style-type: none;
    padding: 10px;
}
.sidebar li {
    padding: 8px 14px;
    margin: 4px;
    
    border-style: solid;
    border-width: 2px;
    border-color: #FFDF9A;
}
.sidebar li:hover {
    box-shadow: 3px 2px 3px;
    
    background-color: #66ccff;
}

.sidebar li a{
    /*color: black;*/
    text-decoration: none;
}
/*end move*/




#swap_theme {
    /* background-color: #97F9A3; */
    font-family: 'Noto Serif', serif;
    font-weight: bold;

    position: absolute;
    top: 0;
    /*top: 20px;*/
    right: 0;
    /*right: 20px;*/
    /*width: 15%;*/
}
#swap_layout {
    /* background-color: #97F9A3; */
    font-family: 'Noto Serif', serif;
    font-weight: bold;

    position: absolute;
    top: 8%;
    top: 8vh;
    /*top: 20px;*/
    right: 0px;
    /*left: 20px;*/
    /*width: 15%;*/
}

#ppost {
    /*padding-left: 20px;*/
    text-decoration: underline;
}



/*******************************/
/************EXTRAS*************/
/*******************************/
.hidden {
  display: none;
}

/*For posts clicked on the sidebar*/
/*for use with HTML template*/
.popOut {
    display: block; 
    background: #fefefe; 
    border: 2px solid #474747; 

    position: fixed; 
    width: 90vw; 
    height: 90vh;
    top: 5%;
}
/*.popOut.blurFilter{*/
/*    filter: none;*/
    /*filter: blur(0px);*/
/*}*/

.blurFilter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}