.hidden {
  display: none;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: #fff;
}

h2 {
    text-decoration: underline;
}

/*  */
.sidebar {
    /*float: right;*/
    /*padding-right: 18px;*/
    text-align: center;
    background-color: #95ECF4;
    /* padding-right: 10px; */
    /*padding: 0;*/
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    display: block;
    background-color: #97F9A3;
    padding: 8px 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #a6a6a6;
}

li:hover {
    background-color: #66ccff;
    box-shadow: 3px 3px 3px;
}


.mainWrapper{
    background-color: #95ECF4;

    height: 100%;
    /*width: 50%;*/
    /*width: 100%;*/
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    /*margin: 0 5%;*/
    
    
    /*float: left;*/
    
    
    /*testing for .hCentered child*/
     position: relative; 
}

.poster{
    width: 70%;
    
    background-color: salmon;
}

textarea[name="postContent"]{
    /*background-color: green;*/
    max-width: 100%;
    max-height: 300px;
}

.posts{
    /*placeholder h&w*/
    /*height: 200px;*/
    /*width: 150px;*/
    /*width: 100%;*/
    
    /*position: absolute;*/
    
}



/*.otherPosts{*/
/*    padding: 0px;*/
/*}*/






/*must have relative ancestor?*/
.hCentered{
    /*not good yet*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    position: absolute;
    /*top: 0%;*/
    left: 25%;
}




/*Layouts*/
.column-1of2{
    width: 75%;
    height: auto;
    margin: 0;
    
    float: left;
}
.column-2of2{
    width: 25%;
    height: auto;
    margin: 0;
    
    float: right;
}


.row-1of3{
    
}
.row-2of3{
    
}
.row-3of3{
    
}




/*For posts clicked on the sidebar*/
.popOut{
    display: block; 
    background: #fefefe; 
    border: 2px solid #474747; 
    /*padding: 20px;*/
    
    position: fixed; 
    width: 90vw; 
    height: 90vh;
    top: 10%;
}

.blurFilter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


